body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #c24481;
    color: white;
    position: fixed;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Main Content */
.main-content {
    margin-left: 240px;
    padding: 20px;
}

header {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Form */
.form-section {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

form input, form button {
    padding: 10px;
    margin: 8px 5px;
}

form button {
    background: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
}

/* Table */
.table-section {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background: #ff4081;
    color: white;
}

.action-btn {
    background: #19ac03;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

nav{position:fixed;
    width:100%;
    background:rgba(0,0,0,0.8);
    padding:15px 0;
    z-index:1000;
    
}

nav .container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h2{
    color:#ff4081;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-weight:500;
    transition:0.3s;
}

nav ul li a:hover{
    color:#ff4081;
}
